section{
  height: 500px;
  background-color: white;
  border: solid black 1pxs;
  
}

.hero {
  background-color: green;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer{
  height: 500px;
  background-color: black;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

p{
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
}

.button {
  width: 200px;
  height: 55px;
  background-color: coral;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: burlywood;
}

.button:active {
  background-color: cadetblue;
  color: blue;
}

.socials {
  padding-bottom: 200px;
}