section{
  height: 500px;
  background-color: white;
  border: solid black 1pxs;
}

.hero {
  background-color: green;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer{
  height: 500px;
  background-color: black;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
}

.hero-text {
  ma
}