footer {
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  background-image: url("milkyway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}


li {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

section {
  /* background-image: url("milkyway.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; */
  color: white;
  background-color: black;

}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

.button {
  width: 200px;
  height: 55px;
  background-color: rgb(119, 73, 180);
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.button:active {
  background-color: black;
  color: blue;
}

.button:hover {
  /* background-color: rgb(228, 121, 174); */
  background-color: rgb(50, 50, 150);
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.hero {
  background-image: url("milkyway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  color: white;
  font-size: 40px;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.last-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.logo {
  height: 80px;
  margin: 30px;
}


.project-icon {
  width: 300px;
  height: 600px;
  /* border: 1px solid black; */
  box-shadow: 5px 5px 20px gray;
  margin: 20px;
}

.projects-section {
  display: flex;
  justify-content: space-around;
}

.skills {
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;
}

.socials {
  margin: 20px;
  font-size: 35px;
}

.subtext {
  font-size: 15px;
  font-weight: 300px;
  /* margin-top: 30px; */
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}


@media only screen and (max-width:1000px) {
  .projects-section {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 45px;
  margin-bottom: 75px;
  width: 250px;
  border-radius: 150px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width:1000px) {
  .hamburger {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    /* align-self: flex-end; */
  }

  .ul {
    display: none;
    background-color: aquamarine;
    margin: 0px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
  }

  .logo {
    display: none;
  }

  ul.show {
    display: block;
  }
}